services:
  iris:
    build:
      context: .
      dockerfile: Dockerfile
      target: final
    restart: always
    environment:
      - ISC_CPF_MERGE_FILE=/home/irisowner/dev/merge.cpf
    command: --check-caps false --ISCAgent false
    ports:
      - 51206:1972
      - 51207:52773
      - 51208:53773
    volumes:
      - ./:/home/irisowner/dev
