<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="iris-oas-test-gen.ZPM">
    <Module>
      <Name>iris-oas-test-gen</Name>
      <Version>0.0.23</Version>
      <Description>OpenAPI Specification (OAS) generator for Intersystems IRIS REST API client tests written in ObjectScript.</Description>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="dc.musketeers.irisOasTestGen.PKG"/>
      <UnitTest Name="/tests" Package="dc.musketeers.irisOasTestGen.unittests" Phase="test"/>
      <UnitTest Name="/tests" Package="dc.musketeers.irisOasTestGen.integrationtests" Phase="verify"/>
      <FileCopy Name="/java/dist/iris-object-script-openapi-generator-1.0.0.jar" Target="${libdir}iris-oas-test-gen/iris-object-script-openapi-generator-1.0.0.jar"/>
      <FileCopy Name="/java/dist/openapi-generator-cli.jar" Target="${libdir}iris-oas-test-gen/openapi-generator-cli.jar"/>
      <AfterInstallMessage>
        Module installed successfully! 
      </AfterInstallMessage>
      <WebApplication 
        Name="/iris-oas-test-gen/api" 
        NameSpace="{$namespace}"
        Path="/src"
        Recurse="1"
        Directory="{$cspdir}iris-oas-test-gen/api" 
        MatchRoles=":%All"
        AutheEnabled="#{$$$AutheCache + $$$AutheUnauthenticated}"
        DispatchClass="dc.musketeers.irisOasTestGen.service.API" 
        ServeFiles="1"
        CookiePath="/csp/iris-oas-test-gen/api"
        UseCookies="2"
      />
    </Module>
  </Document>
</Export>
