Class {{apiPackage}}.Tests{{classname}} Extends %UnitTest.TestCase
{

/// The base URL of the API
Parameter BasePath = "{{host}}{{basePath}}";

{{#operations}}
{{#operation}}
/// Unit test for {{operationId}}
Method Test{{#lambda.pascalcase}}{{operationId}}{{/lambda.pascalcase}}()
{
    // TODO:
    {{#allParams}}
    // Set p{{#lambda.pascalcase}}{{paramName}}{{/lambda.pascalcase}} = ""
    {{/allParams}}
    // Set httpResponse = ..{{#lambda.pascalcase}}{{operationId}}{{/lambda.pascalcase}}(
        {{#allParams}}
    //     p{{#lambda.pascalcase}}{{paramName}}{{/lambda.pascalcase}}{{^-last}},{{/-last}}
        {{/allParams}}
    // )
}

{{/operation}}
{{/operations}}

{{#operations}}
{{#operation}}
/// {{summary}}
/// OperationId: {{operationId}}
Method {{#lambda.pascalcase}}{{operationId}}{{/lambda.pascalcase}}(
    {{#allParams}}
    p{{#lambda.pascalcase}}{{paramName}}{{/lambda.pascalcase}} As {{dataType}}{{^-last}},
    {{/-last}}
    {{/allParams}}
) As %Net.HttpResponse
{
    Set path = "{{path}}"
    Set queryParams = ""
    Set bodyStream = ""
    Set headers = ##class(%ListOfDataTypes).%New()
    Set formParams = ##class(%ListOfDataTypes).%New()
    Set multipartParams = ##class(%ListOfDataTypes).%New()
    
    {{#pathParams}}

    Set path = $REPLACE(path, "{{paramName}}", p{{#lambda.pascalcase}}{{paramName}}{{/lambda.pascalcase}})
    {{/pathParams}}
    {{#queryParams}}

    Set queryParams = queryParams _ "&" _ "{{name}}=" _ p{{#lambda.pascalcase}}{{paramName}}{{/lambda.pascalcase}}
    If $EXTRACT(queryParams) = "&" Set queryParams = "?" _ $EXTRACT(queryParams, 2, *)
    {{/queryParams}}
    
    {{#headerParams}}

    // Header parameter: {{name}}
    Do headers.Insert(..MakeParamObject("{{name}}", p{{#lambda.pascalcase}}{{paramName}}{{/lambda.pascalcase}}))
    {{/headerParams}}
    
    {{#formParams}}
        {{#isFile}}
        // Multipart/form-data file parameter: {{name}}
        Do multipartParams.Insert(..MakeParamObject("{{name}}", p{{#lambda.pascalcase}}{{paramName}}{{/lambda.pascalcase}}))
        {{/isFile}}
        {{^isFile}}
        // Form parameter (x-www-form-urlencoded): {{name}}
        Do formParams.Insert(..MakeParamObject("{{name}}", p{{#lambda.pascalcase}}{{paramName}}{{/lambda.pascalcase}}))
        {{/isFile}}
    {{/formParams}}
    
    {{#bodyParam}}

    // Handle body
    $$$ThrowOnError(p{{#lambda.pascalcase}}{{paramName}}{{/lambda.pascalcase}}.%JSONExportToStream(.bodyStream))
    {{/bodyParam}}

    Set request = ##class(utils.HttpUtils).%New()
    Set request.BasePath = ..#BasePath
    Set request.HttpRequest.Https = 1
    Set httpResponse = request.SendRequest("{{httpMethod}}", path, queryParams, bodyStream, headers, formParams, multipartParams)
    Return httpResponse
}

// Helper method to create parameter objects expected by SendRequest
// Note: This helper method should be added to the generated client class
Method MakeParamObject(pName As %String, pValue) As %RegisteredObject
{
    Set paramObj = ##class(%RegisteredObject).%New()
    Set paramObj.Name = pName
    Set paramObj.Value = pValue
    Return paramObj
}

{{/operation}}
{{/operations}}
}
